<div class="sidebar-left" id="sidebar">
  <div id="nav-testbed">
    <ul class="uk-nav-default uk-nav-parent-icon uk-margin-medium" data-uk-nav="multiple: true">
      <li class="uk-parent">
        <a href="">
          <span class="uk-margin-small-right" data-uk-icon="icon: bookmark"></span>
          <span id="nav-table-count"><%=i s.Tables.Size() %></span> Tables
        </a>
        <ul class="uk-nav-sub" id="nav-tables">
          <% for _, t := range s.Tables.Names() { %>
          <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route("workspace.table", "p", s.Id, "t", t) %>"><%= t %></a></li>
          <% } %>
        </ul>
      </li>
      <% if s.Views.Size() > 0 { %>
      <li class="uk-parent">
        <a href="">
          <span class="uk-margin-small-right" data-uk-icon="icon: location"></span>
          <span id="nav-view-count"><%=i s.Views.Size() %></span> Views
        </a>
        <ul class="uk-nav-sub" id="nav-views">
          <% for _, v := range s.Views.Names() { %>
          <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route("workspace.view", "p", s.Id, "v", v) %>"><%= v %></a></li>
          <% } %>
        </ul>
      </li>
      <% } %>
      <li class="uk-nav-divider"></li>
      <li>
        <a href="" onclick="return false;">
          <span class="uk-margin-small-right" data-uk-icon="icon: cog"></span>
          Refresh Schema
        </a>
      </li>
    </ul>
  </div>
  <div class="status-panel">
    <div id="connection-status">Starting...</div>
  </div>
</div>
