<%: func WorkspaceSidebar(s *schema.Schema, activeItem string, ctx util.RequestContext, buffer *bytes.Buffer) %>
<div class="sidebar-left" id="sidebar">
  <div id="nav-testbed">
    <ul class="uk-nav-default uk-nav-parent-icon uk-margin-medium" data-uk-nav="multiple: true">
      <%
        overviewClass := ""
        if activeItem == "overview" {
          overviewClass = "uk-active"
        }
      %>
      <li class="<%= overviewClass %>">
        <a href="<%= ctx.Route("workspace", "p", s.ID) %>">
          <span class="uk-margin-small-right" data-uk-icon="icon: home"></span>
          Overview
        </a>
      </li>
      <%
        active := ""
        if strings.HasPrefix(activeItem, "table.") {
          active = "uk-open"
        }
      %>
      <li class="uk-parent <%= active %>">
        <a href="">
          <span class="uk-margin-small-right" data-uk-icon="icon: bookmark"></span>
          <span id="nav-table-count"><%=i s.Tables.Size() %></span> Tables
        </a>
        <ul class="uk-nav-sub" id="nav-tables">
          <% for _, t := range s.Tables.Names() { %>
          <% if activeItem == "table." + t { %>
          <li class="uk-active"><a href="<%= ctx.Route("workspace.table", "p", s.ID, "t", t) %>"><%= t %></a></li>
          <% } else { %>
          <li><a href="<%= ctx.Route("workspace.table", "p", s.ID, "t", t) %>"><%= t %></a></li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <li class="uk-nav-divider"></li>
      <li>
        <a href="" onclick="return false;">
          <span class="uk-margin-small-right" data-uk-icon="icon: cog"></span>
          Refresh Schema
        </a>
      </li>
    </ul>
  </div>
  <div class="status-panel">
    <div id="connection-status">Starting...</div>
  </div>
</div>
