<%: func Index(ctx util.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
  <div class="uk-section uk-section-small">
    <div class="uk-container">
      <div>
        <h1 class="uk-heading-hero"><%= ctx.AppInfo.AppName %></h1>
        <div class="uk-text-lead">A work in progress</div>
        <div>
          <ul>
            <li><a href="<%= ctx.Route("home") %>">Home</a></li>
            <li><a href="<%= ctx.Route("profile") %>">Profile</a></li>
            <li><a href="<%= ctx.Route("settings") %>">Settings</a></li>
            <li><a href="<%= ctx.Route("sandbox.list") %>">Sandboxes</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% } %>
