<%: func Index(ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
  <div class="uk-section uk-section-small">
    <div class="uk-container">
      <div>
        <h1 class="uk-heading-hero"><%= ctx.AppInfo.AppName %></h1>
        <div class="uk-text-lead">A work in progress</div>
        <div>
          <ul>
            <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route("profile") %>">Profile</a></li>
            <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route("settings") %>">Settings</a></li>
            <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route("workspace.test") %>">Workspace Test</a></li>
            <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route("sql.form") %>">Ad-hoc Query</a></li>
            <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route("sandbox") %>">Sandboxes</a></li>
            <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route("about") %>">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% } %>
