<%: func SqlResults(results *results.ResultSet, engine conn.Engine, err error, ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div>
      <h1 class="uk-heading-hero">SQL Query Results</h1>
      <% if results != nil { %>
      <div class="uk-margin uk-card uk-card-body <%= ctx.Profile.Theme.CardClass %>">
        <pre><%= results.SQL %></pre>
      </div>
      <% ResultSetRender(results, web.NewResultOptions(ctx.Profile, engine, false), ctx, _buffer) %>
      <% } %>

      <% if err != nil { %>
      <div class="uk-margin uk-card uk-card-body <%= ctx.Profile.Theme.CardClass %>">
        Error: <strong><%=v err %></strong>
      </div>
      <% } %>
    </div>
  </div>
</div>
<% } %>
